/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
body {
    background-color: #F6F7F1;
    color: #00001E;
    font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ",Arial;
    margin: 0 auto;
    max-width: 2560px;
    min-width: 1024px;
}
body, div, ul, li, img, p, dl, dt, dd, form, h2 {
    border: 0 none;
    margin: 0;
    padding: 0;
}
ul, li 
{
    line-height: 55px;
    list-style: none outside none;
}
html {
    font-size: 12px;
}

#divControl   
{
    height:28px;  
    margin:0 auto; 
    padding-left:10px;
    color:#bbb;
    font-weight: bold;
    border-bottom:#6C6B6B solid 2px;
    background-color:Black;
    z-index:1;
 }
 .navControl
 {
     margin: 0 auto;
     line-height:28px; 
 }
 .DropDownList
 {
    font-family:"Helvetica", sans-serif;
	height:24px;
	border-color:#888;
	color:#ddd;
	background-color:#222; 
 }
 .btnOK
 {
    width:80px;margin-left:5px;background-color:Gray;border:0px;    
 }