#Index {background-image: url(../Images/bodybg.jpg); background-repeat:no-repeat; background-color:#17181e;}
#TopPanel 
{
    margin: 0 auto; 
    background:no-repeat url(../Images/db-bg.jpg); 
    height:85px; 
    margin: 0 auto; 
    width:100%;
}
#TopPanel .top-main { margin: 0 auto;  width:80%;height:85px; } 
#TopPanel .top-logo{float:left; width:382px; height:85px;}
.greybg { padding-bottom: 60px; padding-top: 10px;}
.main { margin: 0 auto;  width:80%; }
.main .zt { height:24px; padding-top:5px; border-bottom:#FFF solid 2px;}
.main .zt-tu { float:left; margin-right:6px; padding-top:5px;}
.main .zt-zi {font-family: "Microsoft YaHei", "微软雅黑", Arial; font-size:14px;color:#ffffff; line-height:20px; }
/*******左右*************/
.greybg .main { margin: 0 auto;  width:100%; } 

#LeftPanel { float:left;}
#LeftPanel .zbar { float:left; width:184px; background:url(../Images/zbar-bg.png) repeat-y; padding-bottom:20px;}
#LeftPanel .zbar .zbar-title  
{
    background:url(../Images/zbar-titbg.png) no-repeat; 
    width:184px;
    height:54px; 
    line-height:54px;
    font-family: "Microsoft YaHei", "微软雅黑", Arial; 
    font-size:18px;
    color:#fefefe; 
    text-align:center; 
    font-weight:bold;
    cursor:pointer;
}

#LeftPanel .zbar ul li { background:url(../Images/zbar-libg.png) no-repeat bottom; line-height:55px; list-style: none;} 
#LeftPanel .zbar ul li:hover ,#LeftPanel .zbar ul li .select { background:url(../Images/zbar-libgh.png) no-repeat; color:#fcff00;}
#LeftPanel .zbar ul li a {color:#ffffff;text-decoration:none;width:184px;height:54px; display:block; text-align:center; font-size:14px;}
#LeftPanel .zbar ul li:hover a,#LeftPanel .zbar ul li.select a {color:#fcff00;text-decoration:none;}

#RightPanl { float:right;color:#eee; /*width:85%;*/ /*border:2px solid #6C6B6B;*/ background-color:rgba(238, 238, 238,0.1);}

.ScreenNomal{ height: 600px; width: 100%; border:0;}

.ScreenMax{ top:0; left: 0; border:0; position:absolute;}

.clear { clear:both;}

.top
{
    font-size: 18px;
    height: 50px;
    line-height: 51px;
    text-indent: 20px;
    border-bottom: 1px solid #eee;
} 
.f-f0 {font-family: "Arial","Hiragino Sans GB","Microsoft YaHei", 微软雅黑, "Helvetica", "sans-serif"}

.bottom{
    padding: 20px 30px;
}
.f-richEditorText{
    margin: 0;
    border: 0;
    text-align: left;
    color: #eee;
    font-size:14px;
    line-height: 25px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.f-richEditorIndex{
    margin: 0;
    border: 0;
    text-align: left;
    color: #eee;
    font-size:18px;
    line-height: 35px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.t-title
{
    margin: 5px 20px 10px 0px;
    font-size: 18px;
}


.f-da{margin-left: 15px;display: block;font-size: 14px;line-height: 25px;text-decoration: none;color: #ffffff;}
.m-btnList a:link{text-decoration:none;}
.m-btnList a:visited{text-decoration:none;}
.m-btnList a:hover{text-decoration:none;}
.m-btnList a:active{ text-decoration:none; }

.f-db{display: block; text-align:center;}

.f-ib{display: inline-block;}

.u-btn
{
    /*margin-top: 20px;*/
    margin-left: 15px;
    width: 325px;
    border: none !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-family: "Arial","Hiragino Sans GB","Microsoft YaHei", 微软雅黑, "Helvetica", "sans-serif";
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.u-btn-lg
{
    padding: 11px 14px;
    font-size: 20px;
    line-height: 20px;
    min-width: 110px;    
}

.u-btn-orange{
    background-color: #FF6C00;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#FF7E00), to(#FF6C00));
    background-image: -moz-linear-gradient(#FF7E00, #FF6C00);
    background-image: -ms-linear-gradient(#FF7E00, #FF6C00);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF7E00), color-stop(100%, #FF6C00));
    background-image: -webkit-linear-gradient(#FF7E00, #FF6C00);
    background-image: -o-linear-gradient(#FF7E00, #FF6C00);
    background-image: linear-gradient(#FF7E00, #FF6C00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$startColor',endColorstr='#ff$endColor',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-color: #EF6502;
    color: #fff;
    border-bottom: 1px solid #b25900;  
}
.foot2 {
    background: url("../Images/foot-nei-bg.jpg") no-repeat scroll center top transparent;
    height: 100px;
}
.foot2 .main {
    color: #6C6B6B;
    line-height: 18px;
    padding-top: 35px;
    text-align: center;
}
.foot2 .main a {
    color: #6C6B6B;
}

.box {
  background: #ff00ff;
  height: 5px;
  line-height: 5px;
  text-align: center;
  color: #fff;
  border: 1px solid gray;
}


.wrapper {
  border: 1px solid red;
  padding: 5px;
  margin: 20px auto; 
}

.blk{width:500px;position:relative;border-left:2px solid #85B6E2;border-right:2px solid #85B6E2;position:relative;background:#fff;}
.blk .head, .blk .head-right, .blk .foot, .blk .foot-right{background:url(../Images/pop_up_bg.png);overflow:hidden;height:4px;}
.blk .head{padding-left:4px;}
.blk .head-right{background-position:right top;}
.blk .foot{padding-left:4px;background-position:left bottom;_height:3px;}
.blk .foot-right{background-position:right bottom;}

#MainLayOut h2
{
    padding:10px 20px;    
}

#MainLayOut .imgpic
{
    padding:20px 30px;
    height:210px;
}
.imgpic ul {
    position: relative;
    left: 0px;
    top: 0;
}
.imgpic ul li {
    width: 181px;
    height: 210px;
    float: left;
    margin: 0px 10px 15px 0px;
    border: 0;
}
.imgpic ul li .pro-pic {
    height: 183px;
}
.imgpic ul li .pro-pic{
    width: 180px;
    height: 180px;
    border: #fff 2px solid;    
}
.imgpic ul li .pro-pic img{
    width: 180px;
    height: 180px; 
}
a {
    text-decoration: none;
    color: #2c2c2c;
}
.imgpic ul li p {
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}
.imgpic ul li p a {
    color: #fff;
}

#wizard 
{
    /*border:5px solid #789;*/
    font-size:14px;
    height:1000px;
    margin-right: 415px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    position:relative;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#wizard .items{width:20000px; clear:both; position:absolute;}
#wizard .right{float:right;}
#status li{float:left;color:#fff;padding:10px 30px;}
#status li.active{background-color:#369;font-weight:normal;}
.page{padding:5px 30px;width:1000px;float:left;}
.btn_nav{height:36px; line-height:36px; margin:20px auto;}
.prev,.next{width:100px; height:32px; line-height:32px; border:1px solid #d3d3d3; cursor:pointer}

.img
{
    vertical-align: top;
}
#g-sd2{
    position: relative;
}
.clickBtn
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/previewBtn.png) no-repeat 105px 110px;
}
.clickBtn:hover {
    display: block;
    background-position: 105px -214px;
}
.f-db{
    display: block;
}
.m-recimg.canlick {
    cursor: pointer;
    text-align:center;
}

/***          登录    ***/
.login
{
    
    width:250px;
    margin: auto;
    text-align:center;
}
.login tr
{
    height:30px;
    }


    
.loginButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.loginButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.loginButton:active {
	position:relative;
	top:1px;
}

input
{
    border-radius:.4em;
}  
.tableleft
{
   text-align:right;
} 

#tabRecord 
{
    margin-top:20px;
    margin-left:20px;
    width:500px;
    border-left:1px solid; 
    border-top:1px solid;   
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
#tabRecord td
{ 
    border-right:1px solid; 
    border-bottom:1px solid;   
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
} 
#tabRecord th
{ 
    background:#b5cfd2;
    border-right:1px solid; 
    border-bottom:1px solid;   
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}  
